@import _reset;
@import _variables;


.fira {
	font-family: 'Fira Sans', sans-serif;
}

.saturate {
    filter: url("#saturate");
}

.sepia {
     filter: url("#sepiatone");
}

.contenedor {
	font-size: 0;
	margin-top: 50px;
	.contenedor-izda,
	.contenedor-dcha {
		width: 50%;
		display: inline-block;
	}
}

.contenedor {
	.contenedor-izda,
	.contenedor-dcha {
		img {
			max-width: 80%;
			margin: 0 auto;
			display: block;
		}
		.btn {
			cursor: pointer;
			box-sizing: border-box;
			padding: 10px 20px;
			font-size: 16px;
			margin: 20px auto;
			display: block;
			text-align: center;
			background-color: transparent;
		}
		.btn-attr,
		.btn-remove-attr {
			color: $btn-maroon;
			border: 1px solid $btn-maroon;
		}
		.btn-add-class,
		.btn-remove-class {
			color: $btn-navy;
			border: 1px solid $btn-navy;
		}
	}
}

.contenedor {
	svg {
		display: block;
		margin: 0 auto;
	}
}

.contenedor-izda {
	svg {
		background-color: #ddd;
	}
}

.contenedor-dcha {
	svg {
		background-color: #FFBFAB;
	}
}

.texto-valores {
	font-size: 20px;
	color: $btn-navy;
	display: block;
}